<div class="{{cssClass}} flexcol">

    <header class="sheet-header" align="center">
        <i>NPC: {{ actor.data.name }}</i>
        <i>CR: {{ actor.data.data.details.cr }}</i>
    </header>

    <header class="sheet-header" align="center">
        How this works: the mutation panel can be used to upgrade (experimental) or downgrade (very experimental) an NPC.
        <br/><br/>
        Be aware this is experimental and only adjusts <u class="populatorInfo" data-tippy-content="HP, KAC, EAC, saves, ability scores, initiative">basic stats</u> for now.
        This is still <u class="populatorInfo" data-tippy-content="In progress: attacks, skills, Special abilities">under construction</u>.
    </header>
    <br/>
    <br/>
    <div class="form-group">
        <!-- NPCs -->
        <label for="npcMutateButton"><b>Target CR</b></label>
        <i class="populatorInfo far fa-question-circle" data-tippy-content="Upgrades an existing NPC by increasing it's CR (Experimental)."></i>
        <div class="form-fields">
            <select id="crSelect">
                {{#each CRs as |species key|}}
                    <option value={{ key }} >{{ species }}</option>
                {{/each}}
            </select>
        </div>
        <br/>
        <button id="npcMutateButton" class="populatorButton control dialog-button npcMutateButton" type="submit" name="submit" data-tippy-content="Mutates an existing NPC to increase it's power to match an intended CR.">
            <i class="fas fa-male"></i> Mutate
        </button>
        <br/>
    </div>
</div>