<div class="{{cssClass}} flexcol">

    <header class="sheet-header" align="center">
        <i><u>Right-click</u> the <b>Populator</b> button to skip this screen and generate a random non-combatant NPC. The NPC will use the default CR from the module settings and Absalom as the location.</i>
    </header>

    <div class="form-group">
		<br/>
        <!-- CR -->
        <label for="npcCRChoice"><b>CR</b></label>
        <div class="form-fields">
            <select id="npcCR" class="npcCR">
                <option value="random">random</option>
                {{#each NPCCR as |cr|}}
                    <option value="{{ cr }}">{{ cr }}</option>
                {{/each}}
            </select>
        </div>
		<br/>
        <!--slider select for NPCCR-->
        <div id="npcCRDiv">
            <label for="npcCRSlider"><b>CR Maximum: <span id="npcCRValue">25</span></b></label>
            <i class="populatorInfo far fa-question-circle" data-tippy-content="Selecting a maximum will restrict the random CR within it. 0 covers 1/3 & 1/2"></i>  
            <div class="form-fields">
                <input type="range" class="npcCRSlider" id="npcCRSlider" min="0" max="25" value="25" step="1" class="slider"></input>
            </div>
            <br/>
        </div>
        <!-- Array -->
        <label for="arraySelect"><b>Array</b></label>
        <div class="form-fields">
            <select id="selectedArray">
            <!-- selected array can be set in getDate to set a default  -->
            {{#select selectedArray}}
                <option value="random">random</option>
                {{#each arrays as |array name|}}
                    <option value="{{name}}">{{ name }}</option>
                {{/each}}
            {{/select}}
            </select>
        </div>
        <br/>
        <!-- NPCs -->
        <label for="npcSpeciesSelect"><b>Creature Subtype</b></label>
        <i class="populatorInfo far fa-question-circle" data-tippy-content="Generates an NPC with a personality from one of the humanoid create types."></i>        
        <br/>
        <div class="form-fields">
            <select id="npcSpeciesSelect" class="npcSpeciesSelect">
                <option value="random" >random</option>
                {{#each NPCSpecies as |species key|}}
                    <option value={{ key }} >{{ species.name }}</option>
                {{/each}}
            </select>
        </div>
        <br />
        <div id="speciesDistributionDiv">
            <!-- Species Distribution -->
            <label for="npcSpeciesDistribution"><b>Location Species Distribution</b></label>
            <i class="populatorInfo far fa-question-circle"
                data-tippy-content="When generating a random NPC use the distribution percentages from the specified location."></i>
            <div class="form-fields">
                <select id="npcLocation">
                    {{#each NPCSpeciesDistributions as |location location|}}
                        <option value="{{location.name}}">{{location.name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>        
        <br/>
        <div style="display: flex; justify-content: space-between;">
            <button id="npcGenerationButton" class="populatorButton control dialog-button npcGenerationButton" type="submit" name="submit" data-tippy-content="Generate an NPC of the chosen species (expert Array)">
                <i class="fas fa-male"></i> Generate Humanoid NPC
            </button>        
        </div>
        <br/>
        <br/>
        <!-- Monsters -->
        <label for="monsterGenerationButton"><b>Monsters</b></label>
        <i class="populatorInfo far fa-question-circle" data-tippy-content="Generates a 'monster' NPC which is generally non-humanoid. Generally used for roaming monsters."></i>
        <div class="form-fields">
            <select id="monsterTypeSelect">
                {{#each supportedCreatureTypes as |generatorTypeOption key|}}
                <option value={{ key }} >{{ key }}</option>
                {{/each}}
            </select>
        </div>
        <br/>
        <button id="monsterGenerationButton" class="populatorButton control monsterGenerationButton" type="submit" name="submit" data-tippy-content="Generate a Monster (combatant array)">
            <i class="fas fa-pastafarianism"></i>Generate Non Humanoid NPC
        </button>

        <footer class="sheet-footer">
            <h6 align="center">
            For the latest development news and FAQ on Populator click <a href="https://github.com/danimrath/foundryvtt-sfrpg-populator">here</a>
            </h6>
        </footer>
    </div>

</div>