<div class="{{cssClass}} flexcol">

    <header class="sheet-header" align="center">
        <i><u>Right-click</u> the <b>Populator</b> button to skip this screen and generate a random non-combatant NPC. The NPC will use the default CR from the module settings.</i>
    </header>

    <div class="form-group">
        <!-- CR -->
        <label for="npcCRChoice"><b>CR</b></label>
        <div class="form-fields">
            <select id="npcCR">
                {{#each NPCCR as |cr|}}
                    <option value="{{ cr }}">{{ cr }}</option>
                {{/each}}
            </select>
        </div>
		<br/>
        <!-- NPCs -->
        <label for="npcGenerationButton"><b>NPC</b></label>
        <i class="populatorInfo far fa-question-circle" data-tippy-content="Generates an NPC with a personality, usually used for non-combat characters or generating intelligent adversaries and enemies."></i>        
        <br/>
        <div class="form-fields">
            <select id="npcRaceSelect">
                {{#each NPCRaces as |race key|}}
                    <option value={{ key }} >{{ race.name }}</option>
                {{/each}}
            </select>
        </div>
        <br/>
        <div style="display: flex; justify-content: space-between;">
            <button id="npcGenerationButton" class="populatorButton control dialog-button npcGenerationButton" type="submit" name="submit" data-tippy-content="Generate an NPC of the chosen Race (expert Array)" style="display: inline-block; width: 49%;">
                <i class="fas fa-male"></i> Generate Chosen
            </button>        
            <button id="npcRandomGenerationButton" class="populatorButton control dialog-button npcRandomGenerationButton" type="submit" name="submitRandom" data-tippy-content="Generate an NPC with a random race (expert Array)" style="display: inline-block; width: 49%; margin-left: auto;">
                <i class="fas fa-male"></i> Random Race
            </button>
        </div>
        <br/>
        <br/>
        <!-- Monsters -->
        <label for="monsterGenerationButton"><b>Monsters</b></label>
        <i class="populatorInfo far fa-question-circle" data-tippy-content="Generates a 'monster' NPC which is generally non-humanoid. Generally used for roaming monsters."></i>
        <div class="form-fields">
            <select id="monsterTypeSelect">
                {{#each supportedCreatureTypes as |generatorTypeOption key|}}
                <option value={{ key }} >{{ key }}</option>
                {{/each}}
            </select>
        </div>
        <br/>
        <button id="monsterGenerationButton" class="populatorButton control monsterGenerationButton" type="submit" name="submit" data-tippy-content="Generate a Monster (combatant array)">
            <i class="fas fa-pastafarianism"></i>Generate Monster
        </button>

        <footer class="sheet-footer">
            <h6 align="center">
            For the latest development news and FAQ on Populator click <a href="https://github.com/danimrath/foundryvtt-sfrpg-populator">here</a>
            </h6>
        </footer>
    </div>

</div>